
<div class="display-container">
  <div class="content-area">
    <h1>Wallet Overview</h1>
    <crypto-wallet-view></crypto-wallet-view>
  </div>
  <div class="button-area">
    <div class="button-container">
    <button mat-raised-button color="primary">Add Transaction</button>
    <button mat-raised-button color="secondary">Import Transactions</button>
  </div>
  </div>
</div>

<p></p>
<div class="display-container">
  <div class="content-area">
    <crypto-transaction-view></crypto-transaction-view>
  </div>
  <div class="button-area">

  </div>
</div>
<p></p>
<div class="display-container">
  <div class="content-area">
    <crypto-report-view></crypto-report-view>
  </div>
  <div class="button-area">

  </div>
</div>

<p></p>
<div class="display-container">
  <div class="content-area">
    <app-crypto-import-entry></app-crypto-import-entry>
  </div>
  <div class="button-area">

  </div>
</div>
