<!--
<p>file-import works!</p>
<input type="file" class="file-upload" onchange="console.log(event.target.files)">
<input type="file" class="file-input"
       (change)="onFileSelected($event)" #fileUpload>
-->
<!--input type="file" class="file-input"
       (change)="onFileSelected($event)" #fileUpload -->
<div>
  <label for="uploadedType">Upload Type:</label>
  <select id="uploadType" [(ngModel)]="selectedUploadType">
    <option *ngFor="let importType of importTypes" [value]="importType">{{ importType }}</option>
  </select>
</div>

<div class="file-upload">
  <input type="file" (change)="onFileSelected($event)" #fileUpload style="display: none;">
    <button mat-mini-fab color="primary" class="upload-btn"
      (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
    </button>
</div>

<div>
  {{fileName || "No file uploaded yet."}}
</div>

<button mat-raised-button color="primary" (click)="uploadFile()">Upload</button>
