<div>
  <label for="uploadedType">Upload Type:</label>
  <select id="uploadType" [(ngModel)]="selectedUploadType">
    <option *ngFor="let importType of importTypes" [value]="importType">{{ importType }}</option>
  </select>
</div>

<div class="file-upload">
  <input type="file" (change)="onFileSelected($event)" #fileUpload style="display: none;">
    <button mat-mini-fab color="primary" class="upload-btn"
      (click)="fileUpload.click()">Select File..</button>
</div>

<div>
  {{fileName || "No file uploaded yet."}}
</div>

<div>
  <button mat-raised-button color="primary" (click)="uploadFile()">Upload</button>
</div>

<div class="import-transaction">
  <p><mat-checkbox [(ngModel)]="checkboxAutoRate">auto calculate changerate</mat-checkbox></p>
  <p><button mat-raised-button color="primary" (click)="importTrades()">Import Trades</button></p>
</div>

<div class="import-entries">
  <app-import-entry></app-import-entry>
</div>
