<mat-nav-list style="height: 100px;">
  <div class="profile-card">
    <div class="header">
      <h2>Crypto Trader 2.0</h2>
    </div>
  </div>
  <mat-divider></mat-divider>

  <a mat-list-item routerLinkActive="router-link-active" routerLink="/">Dashboard</a>
  <a mat-list-item routerLinkActive="router-link-active" routerLink="/journal">Trade Journal</a>
  <a mat-list-item routerLinkActive="router-link-active" routerLink="/hoddl">Crypto Hoddl</a>
  <a mat-list-item routerLinkActive="router-link-active" routerLink="/report">Tax Report</a>
  <a mat-list-item routerLinkActive="router-link-active" routerLink="/fileImport">File Import</a>
</mat-nav-list>
