<h1>HODDL Table</h1>
<table mat-table [dataSource]="reportTransactions" class="mat-elevation-z8">

  <ng-container matColumnDef="Value">
    <th mat-header-cell *matHeaderCellDef> Menge </th>
    <td mat-cell *matCellDef="let row"> {{ row.Value }} </td>
  </ng-container>
  <ng-container matColumnDef="Asset">
    <th mat-header-cell *matHeaderCellDef> Asset </th>
    <td mat-cell *matCellDef="let row"> {{ row.Asset }} </td>
  </ng-container>
  <ng-container matColumnDef="InDate">
    <th mat-header-cell *matHeaderCellDef> Kauf </th>
    <td mat-cell *matCellDef="let row"> {{ row.InDate }} </td>
  </ng-container>
  <ng-container matColumnDef="OutDate">
    <th mat-header-cell *matHeaderCellDef> Verkauf </th>
    <td mat-cell *matCellDef="let row"> {{ row.OutDate }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> <!--display which columns-->
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr><!-- finaly display data from the row-->
</table>
