/* styles.css */
.image-container {
  width: 50%;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.image-details {
  width: 90%;
}

.image-details img {
  width: 100%;
}

.preview-image {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.open-in-new-tab {
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  z-index: 1; /* Hinzugefügter Wert für die Stapelreihenfolge */
}

.open-in-new-tab:hover {
  text-decoration: none;
}

.image-url {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: white; /* Hinzugefügter Stil für bessere Sichtbarkeit */
  z-index: 2; /* Hinzugefügter Wert für die Stapelreihenfolge, höher als das Bild */
  pointer-events: auto; /* Aktiviert Klicks für das Element */
}

.tags {
  margin-top: 5px;
}

.tag {
  display: inline-block;
  margin-right: 5px;
  padding: 3px 8px;
  background-color: #eee;
  border-radius: 5px;
  cursor: pointer;
}
