<div>
  <!-- Anzeige der bestehenden Bilder -->
  <div *ngFor="let image of images">
    <div class="image-container" (click)="toggleImageSize(image)">
      <img [src]="image.imageUrl" alt="Bild" [style.width.%]="image.preview ? 30 : 90">
      <span *ngIf="!image.preview" class="open-in-new-tab" (click)="openInNewTab(image)">In neuem Tab öffnen</span>
      <a [href]="image.imageUrl" target="_blank" class="image-url" (click)="stopPropagation($event)">{{ image.imageUrl }}</a>
      <div class="tags">
        <span *ngFor="let tag of image.tags" class="tag">{{ tag }}</span>
      </div>
      <div>
        <input [(ngModel)]="newTag" placeholder="Neuen Tag hinzufügen" (click)="stopPropagation($event)">
        <button (click)="addTag(image, newTag); stopPropagation($event)">Tag hinzufügen</button>
      </div>
    </div>
  </div>

  <!-- Eingabeformular für neue URL -->
  <div>
    <input [(ngModel)]="newImageUrl" placeholder="Neue Bild-URL eingeben">
    <button (click)="addImage()">OK</button>
  </div>
</div>

